# Environment
.env

# Python
__pycache__/

*.pyc

.pytest_cache/

# Virtual Environment
venv/

# Streamlit
.streamlit/secrets.toml

# Chroma
data/vector_db/

# Logs
logs/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db